$color__blue: #0068d7;
$color__red: #d70040;
$color__black: #001326;
$color__white: #fff;


//Patterns
$color__main-text: $color__black;
$color__link: $color__blue;
$color__link-hover: darken($color__blue, 10%);