//Font Famiies
$font__dm-serif: 'DM Serif Text', serif;
$font__montserrat: 'Montserrat', sans-serif;
$font__spartan: 'Spartan', sans-serif;

$font__body: $font__spartan;
$font__heading: $font__montserrat;